/* For WebKit browsers */
::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fde68a; /* Background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f59e0b; /* Color of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #d97706; /* Color of the thumb on hover */
  }
  